{% include 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Add product{% endblock %}

{% block content %}

<div class="container-fluid">
  <div class="col-md-16">
    <form method="POST" action="">
        <div class="row">
            <div class="col-md-10">
               <div class="card">
                {% csrf_token %}
                {{ form.product_name | as_crispy_field }}
                {{ form.received_quantity  | as_crispy_field }} 
                {{ form.received_by  | as_crispy_field }} 
                {{ form.issue_quantity  | as_crispy_field }} 
               </div>
        
        <input type="submit" value="Save"/>
            </div>
        </div>
    </form>
  </div>
</div>

{% endblock %}