{% include 'base.html' %}

<!-- {% block title %}List products{% endblock %} -->

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
           
                    <h4>List products</h4>
                    <div class="card-body">
                        <form method="POST" action="">{% csrf_token%}
                            {{form}}
                            <input type="submit" value="Search"/>

                        </form>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>Quantity</th>
                                <th>From</th>
                                <th>Issue Quantity</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for product in products %}
                            <tr>
                                <td>{{ product.product_name }}</td>
                                <td>{{ product.received_quantity }}</td>
                                <td>{{ product.received_by }}</td>
                                <td>{{ product.issue_quantity }}</td>
                                <td>
                                    <a href="{% url 'list_products' %}" class="btn btn-primary">View</a>
                                    <a href="#" class="btn btn-danger">Delete</a>
                                    <a href="#" class="btn btn-warning">Update</a>
                                </td>
                            </tr>
                            {% endfor %}
                    </table>
                </div>



{% endblock %}