{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block content %}

<br><br><br>

<section class="">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
            class="img-fluid" alt="Sample image">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
          <form method="POST" action="">

			{% csrf_token %}

           <!-- form -->

           <div class="input-group mb-3">
            {{form.username}}
          </div>
          <div class="input-group mb-2">
            {{form.email}}
          </div>
          <div class="input-group mb-2">
            {{form.password1}}
          </div>
          <div class="input-group mb-2">
            {{form.password2}}
          </div>

            <div class="d-flex justify-content-between align-items-center">
              
            </div>

            <br>

            <b>
              {{form.errors}}
            </b>
  
            <div class="text-center text-lg-start mt-4 pt-2">
              
                <button type="submit" class="btn btn-primary">Sign up</button>
              
              <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="{% url 'login' %}"
                  class="link-danger">Sign in</a></p>
            </div>
  
          </form>
        </div>
      </div>
    </div>

  <br><br>

  <script>
    //Query All input fields
    var form_fields = document.getElementsByTagName('input')
      form_fields[1].placeholder='Username..';
      form_fields[2].placeholder='Email..';
      form_fields[3].placeholder='Enter password...';
      form_fields[4].placeholder='Re-enter Password...';


      for (var field in form_fields){	
        form_fields[field].className += ' form-control'
      }
  </script>

</section>

<br>

{% endblock %}

